@import "../setup/variables";

.app-header-container {
    background-color: $clr1;
    position: fixed;
    width: 100%;

    .app-header {
        height: 80px;
    }

    .logo {
        font-size: 2.5em;
        text-transform: uppercase;
    }

    .main-nav {
        height: 100%;
        li {
            height: 100%;

            &:not(:last-child) {
                margin-inline-end: 10px;
            }
        }
    }

    .nav-link {
        color: $clr2;
        font-size: 1em;
        text-decoration: none;
        text-transform: uppercase;

        height: 100%;
        width: 80px;
        // border-bottom: 6px solid transparent;

        @include flex-column-centered;

        &:hover {
            color: $clr3;
        }
        &.selected-link {
            // border-bottom: 6px solid;
            // background: linear-gradient(180deg, rgba(197, 0, 208, 1) 0%, rgba(215, 107, 60, 1) 65%);
            // border-image: linear-gradient(180deg, rgba(197, 0, 208, 1) 0%, rgba(215, 107, 60, 1) 65%);
            // @include border-bottom;
            background: $gradient1;

            background-size: 100% 5px;
            // background: linear-gradient(
            //     246deg,
            //     rgba(236, 133, 89, 1) 0%,
            //     rgba(226, 84, 225, 1) 23%,
            //     rgba(215, 107, 60, 1) 58%
            // );
        }
    }

    & + * {
        padding-top: 100px;
    }
}
