.data-page {
    .search-results {
        .filtered-cells-list {
            margin: 0;
            max-height: 400px;
            background-color: $clr1;
            padding: 10px;
            overflow-y: auto;
            &-item {
                transition: background-color 0.1s;
                width: 100%;
                @include hover-bgc-transition;

                .text {
                    flex-basis: 90%;
                }
                .btn-action {
                    visibility: hidden;
                }
                &:hover .btn-action {
                    // display: block;
                    visibility: visible;
                }
            }
        }
    }
}

.data-grid-layout {
    width: 80%;
}
