.data-corr {
    &-modal {
        background-color: rgb(228, 225, 225);
        color: #212121;

        border-radius: 20px 20px 0 0;

        height: 0;
        overflow: hidden;

        position: absolute;
        bottom: -100%;
        left: 10%;
        right: 10%;

        transition: height 0.7s;
        bottom: 0;

        &.open {
            height: calc(100vh - 100px);
        }
        .title {
            border-bottom: 1px solid $clr1;
            color: #474747;

            padding-bottom: 10px;
            margin-bottom: 20px;
        }
        input.txt {
            background-color: rgba(255, 255, 255, 0.671);
            padding: 10px 5px;
        }
    }
    .btn-open-data-corr {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: #ffdccd;
    }
}
