.data-corr {
    .data-corr-modal {
        background-color: grey;
        color: #212121;

        border-radius: 20px 20px 0 0;
        height: calc(100vh - 100px);
        padding: 20px;

        position: absolute;
        bottom: -100%;
        left: 10%;
        right: 10%;

        &.open {
            bottom: 0;
        }

        transition: bottom 0.3s;
    }
}
