$clr1: #f1f1f1;
$clr2: #737373;
$clr3: #d76b3c;
$clr4: #c500d0;
$gradient1: linear-gradient(246deg, rgba(236, 133, 89, 1) 0%, rgba(226, 84, 225, 1) 23%, rgba(215, 107, 60, 1) 58%) left
    bottom no-repeat;
